.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.search input {
  width: 40%;
  height: 50px;
  border: none;
  padding-left: 20px;
  margin-top: 5rem;
}

.search .search-out-put {
  width: 30%;
  height: 90%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.not-active {
  display: none;
}
.dark-theme{
  color: white;
  background-color: black;
}

